{% extends "master.twig" %}



{% block conteudo %}
    {{ parent() }}
    
    <br>
    sobrescrevi o conteudo
    <br>
    <button id="butao1" value="valor_do_botao">Botao</button>
    <div id="div_retorno" style="display: none;">
        <br>
        aqui será injetado o retorno
        <br>
    </div>

{% endblock %}

{% block rodape %}
    {{ parent() }}
    {# js que só vai nesta página #}
{% endblock %}